[Unit]
Description=Capture from camera and put to web
Requires=multi-user.target apache2.service

[Service]
Type=idle
WorkingDirectory=%PATH_TO_SCRIPT%
ExecStart=%PATH_TO_SCRIPT%/capture.sh
Restart=always

[Install]
WantedBy=multi-user.target